body
{
    background-color: black;
}

.navbar
   {
    overflow: hidden;
    float: right; 
    display: flex;
  }


.navbar a 
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
}

.navbar a:hover 
{
  background-color: #ddd;
  color: black;
}

@media (max-width: 500px)
{
    h1 
    {
        font-size:  0.5em;
    }
    .navbar
    {
        flex-direction: column;
        align-items: center;
    }
    .nav-container 
    {
        flex-direction: column;
        align-items: center;
    }
}